<!DOCTYPE html>
<html>
<head>
  <title>Mad Libs</title>
</head>
<body>
  <h1>Welcome to Mad Libs!</h1>
  <p>My name is @Model.Name1 and I am @Model.Number1 years old. If I were president. I'd do a whole bunch of @Model.Adjective things : </p>
  <ol>
    <li>I would drive the biggest @Model.Color1 car in the country. And that car would go faster than any other @Model.Noun1 in the world!</li>
    <li>Everyone would eat pepperoni @Model.FoodPlural1 for dinner.</li>
    <li>I would live in the Statue of @Model.Noun2 and build @Model.Verb1 pool at her feet.</li>
    <li>I would wear a/an @Model.Clothing1 on my head, and everyone would say I look @Model.Adjective1 like @Model.Celebrity1.</li>
    <li>School would be open only @Model.Number2 days a year.</li>
    <li>I would give my friends the best jobs. I would nominate @Model.Name2 to be secretary of (the) @Model.Noun3, and @Model.Name3 could be vice @Model.Occupation1</li>
  </ol>
</body>
</html>
