<!DOCTYPE html>
<html>
<head>
  <title>Mad Libs</title>
</head>
<body>
  <h1>Star Wars Mad Libs!</h1>

  <p> Star Wars is a @Model.Adjective1 @Model.Noun1 of @Model.Adjective2 versues evil in a @Model.NounPlace far far away. 
  <br>
  There are @Model.Adjective3 battles between @Model.Adjective4 @Model.VehiclePlural1 in @Model.Adjective5 space and @Model.Adjective6 duels with @Model.NounPlural1 called @Model.Adjective7 sabers. @Model.NounPlural2 called "droids" are helpers and @Model.NounPlural3 to the heroes. 
  <br>
  A @Model.Adjective8 power called The @Model.NounPlural4 @Model.Verb2 s people to do @Model.Adjective9 things, like @Model.Verb3 @Model.NounPlural5. The Jedi @Model.NounPluralTypeOfJob use The Force for the @Model.Adjective10 side and the Sith @Model.Verb4 it for the @Model.Adjective11 side. 
  </p>
</body>
</html>